# ARP Data Gathering

## Cleaning YouTube Comments

### 600e

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
# Read csv file
df_600 = pd.read_csv('DataPull-600e.csv')
df_600.head()

,Timestamp,Username,VideoID,Comment,Date
0,2024-05-01T13:34:19Z,@gm2543,AXGNb76QgH0,Ehy do you miss out the 500X its same and hybr...,2024-05-01T13:34:19Z
1,2024-04-28T10:14:55Z,@mohammaddavoudian7897,AXGNb76QgH0,"Enjoyed watching, thank you.",2024-04-28T10:14:55Z
2,2024-04-06T19:20:29Z,@StrandgaZt,AXGNb76QgH0,Nobody are liking the eye lits so far.,2024-04-06T19:20:29Z
3,2024-03-16T23:54:26Z,@christopher9727,AXGNb76QgH0,Don't follow the worldly trends follow Jesus C...,2024-03-16T23:54:26Z
4,2024-03-08T17:15:08Z,@rm783,AXGNb76QgH0,25000 is a fair price,2024-03-08T17:15:08Z

In [3]:
# Drop column 'Username' and 'Date'
df_600 = df_600.drop(columns=['Username', 'Date'])
df_600.head()

,Timestamp,VideoID,Comment
0,2024-05-01T13:34:19Z,AXGNb76QgH0,Ehy do you miss out the 500X its same and hybr...
1,2024-04-28T10:14:55Z,AXGNb76QgH0,"Enjoyed watching, thank you."
2,2024-04-06T19:20:29Z,AXGNb76QgH0,Nobody are liking the eye lits so far.
3,2024-03-16T23:54:26Z,AXGNb76QgH0,Don't follow the worldly trends follow Jesus C...
4,2024-03-08T17:15:08Z,AXGNb76QgH0,25000 is a fair price

In [4]:
# Function to remove emojis from a string
def remove_emojis(text):
    emoji_pattern = re.compile(
        "["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F700-\U0001F77F"  # alchemical symbols
        u"\U0001F780-\U0001F7FF"  # Geometric Shapes Extended
        u"\U0001F800-\U0001F8FF"  # Supplemental Arrows-C
        u"\U0001F900-\U0001F9FF"  # Supplemental Symbols and Pictographs
        u"\U0001FA00-\U0001FA6F"  # Chess Symbols
        u"\U0001FA70-\U0001FAFF"  # Symbols and Pictographs Extended-A
        u"\U00002702-\U000027B0"  # Dingbats
        u"\U000024C2-\U0001F251" 
        "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

# Function to remove punctuation from a string
def remove_punctuation(text):
    return re.sub(r'[^\w\s]', '', text)

# Apply the functions to the 'Comment' column
df_600['Comment'] = df_600['Comment'].apply(remove_emojis).apply(remove_punctuation)

In [5]:
# Save the modified dataframe to a new CSV file
output_path = '/Users/Jey/Desktop/YouTube - 600e_No_Emojis_No_Punctuation.csv'
df_600.to_csv(output_path, index=False)

### 500e

In [7]:
# Read csv file
df_500 = pd.read_csv('DataPull-500e.csv')
df_500.head()

ParserError: Error tokenizing data. C error: Buffer overflow caught - possible malformed input file.

In [ ]:
# Drop column 'Username' and 'Date'
df_500 = df_500.drop(columns=['Username', 'Date'])
df_500.head()

In [ ]:
# Function to remove emojis from a string
def remove_emojis(text):
    emoji_pattern = re.compile(
        "["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F700-\U0001F77F"  # alchemical symbols
        u"\U0001F780-\U0001F7FF"  # Geometric Shapes Extended
        u"\U0001F800-\U0001F8FF"  # Supplemental Arrows-C
        u"\U0001F900-\U0001F9FF"  # Supplemental Symbols and Pictographs
        u"\U0001FA00-\U0001FA6F"  # Chess Symbols
        u"\U0001FA70-\U0001FAFF"  # Symbols and Pictographs Extended-A
        u"\U00002702-\U000027B0"  # Dingbats
        u"\U000024C2-\U0001F251" 
        "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

# Function to remove punctuation from a string
def remove_punctuation(text):
    return re.sub(r'[^\w\s]', '', text)

# Apply the functions to the 'Comment' column
df_500['Comment'] = df_500['Comment'].apply(remove_emojis).apply(remove_punctuation)

In [ ]:
# Save the modified dataframe to a new CSV file
output_path = '/Users/Jey/Desktop/YouTube - 500e_No_Emojis_No_Punctuation.csv'
df_500.to_csv(output_path, index=False)